.App {
    /* top: 0; right: 0;
    margin-top: 0px; */
    height: 85vh;
    
    text-align: center;
    /* display: flex; */
    background-color:cornsilk;
    padding-top: 40px;
}

.gameBoard {
    /* position: relative; */
    margin: 100px auto 30px auto;
    width: 400px;
    height: 400px;
    line-height: 0px;
    
}
